---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Lista Anime" >
    <Navbar ></Navbar>
    <div class="main">
        <h1>Lista Anime</h1>
        <div class="btn">
            <button class="buttons" onclick="window.location.href='/charlotte';">Charlotte</button>
            <button class="buttons" onclick="window.location.href='/darling-in-the-franxx';">Darling in the Franxx</button>
        </div>
    </div>
</Layout>
<style>
.main{
    margin: 100px auto;
    text-align: center;
}
.buttons{
    display: inline-block;
    padding: 15px 15px;
    border: 2px solid var(--color-1);
    background-color: var(--color-main-background);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(5px);
    color: var(--color-text);
    border-radius: 16px;
    transition: 0.2s ease-in-out;
}
.buttons:hover {
    border: 2px solid var(--border-color);
    background: var(--color-2);
    color: var(--color-text);
    cursor: pointer;
}
</style>