---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Vorlie | Fonts">
    <canvas></canvas>
    <Navbar />
    <div class="main">
        <h1 class="title">Fonts for <a href="https://github.com/pyoncord/Bunny">Bunny</a></h1>
        <div class="container">
            <div class="column">
                <h2 class="title-secondary">Helvetica Neue</h2>
                <p class="text">While it works, the chat messages look bad.<br>It's most likely because how the font looks like.</p>
                <a class="link" href="https://raw.githubusercontent.com/vorlie/Theme-Fonts/main/HelveticaNeue-fonts.json">Open this link and copy it</a>
                <div class="nested-container">
                    <div class="nested-column">
                        <h3 class="commit">
                            <a class="link" href="https://github.com/vorlie/Theme-Fonts/commit/8dfa1a7c93382433be2bdb705dd986da787ac40e">
                                8dfa1a7
                            </a>
                        </h3>
                        <a href="/previews/8dfa1a7c93382433be2bdb705dd986da787ac40e.jpg" target="_blank">
                            <img class="preview" src="/previews/8dfa1a7c93382433be2bdb705dd986da787ac40e.jpg" alt="HelveticaNeue-image" />
                        </a>
                    </div>
                    <div class="nested-column">
                        <h3 class="commit">
                            <a class="link" href="https://github.com/vorlie/Theme-Fonts/commit/862781307961256aa3a15fd460c40903ec138e44">
                                8627813
                            </a>
                        </h3>
                        <a href="/previews/862781307961256aa3a15fd460c40903ec138e44.jpg" target="_blank">
                            <img class="preview" src="/previews/862781307961256aa3a15fd460c40903ec138e44.jpg" alt="HelveticaNeue-image" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <h2 class="title-secondary">Coming soon</h2>
                <p class="text">
                    I will try to add more fonts in the future.
                    <br>So for now here is a list of fonts added by <a class="link" href="https://github.com/Rairof">Rairof.</a>
                    <br>Previews for these are located <a class="link" href="https://github.com/Rairof/Theme-Fonts">here</a></p>
                <div>
                    <ul class="list">
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/GoogleSans/GoogleSans-font-snippet.json">GoogleSans</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Cabin/Cabin-font-snippet.json">Cabin</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Mikhak/Mikhak-font-snippet.json">Mikhak</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Evolve-Sans-EVO/Evolve-Sans-EVO-font-snippet.json">Evolve Sans EVO</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Meloso/Meloso-font-snippet.json">Meloso</a> (Caution: causes crash on iOS)</li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/InstrumentSans/InstrumentSans-font-snippet.json">Instrument Sans</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/SF-Pro-Display/SF-Pro-Display-font-snippet.json">Inter</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Space-Mono/Space-Mono-font-snippet.json">Space Mono</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Golos-Text/Golos-Text-font-snippet.json">Golos Text</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Quicksand/Quicksand-font-snippet.json">Quicksand</a> (Caution: causes crash on iOS)</li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Gantari/Gantari-font-snippet.json">Gantari</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Almarai/Almarai-font-snippet.json">Almarai</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/JetBrainsMono/JetBrainsMono-font-snippet.json">JetBrains Mono</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Trakya/Trakya-font-snippet.json">Trakya</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Fira-Code/Fira-Code-font-snippet.json">Fira Code</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Source-Code-Pro/Source-Code-Pro-font-snippet.json">Source Code Pro</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Ubuntu-Mono/Ubuntu-Mono-font-snippet.json">Ubuntu Mono</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Witcher-Handwriting/Witcher-Handwriting-font-snippet.json">Witcher Handwriting</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/BlowBrush/BlowBrush-font-snippet.json">BlowBrush</a></li>
                        <li><a class="link" href="https://raw.githubusercontent.com/Rairof/Theme-Fonts/main/Playfair/Playfair-font-snippet.json">Playfair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</Layout>
<script src="/src/scripts/particles.js"></script>
<style>
    canvas{
        z-index: -10;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .list{
        color: var(--color-text);
        list-style-type: none;
    }
    .title{
        color: var(--color-text);
        background: var(--color-main-background-secondary);
        padding: 10px;
        border-radius: var(--roundness);
    }
    .title a{
        text-decoration: none;
        color: var(--accent-gradient);
        transition: 0.2s ease;
    }
    .title a:hover{
        color: var(--color-text-hover);
        text-decoration: underline;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        min-height: 80vh;
        padding: 20px;
        color: #333;
    }
    .link{
        text-decoration: none;
        color: var(--accent-gradient);
        transition: 0.2s ease;
    }
    .link:hover{
        color: var(--color-text-hover);
        text-decoration: underline;
    }
    .container {
        display: flex;
        width: 80%;
        justify-content: space-around;
        gap:20px;
        flex-wrap: wrap;
    }

    .column {
        flex: 1;
        box-sizing: border-box;
        text-align: center;
        background: var(--color-main-background-secondary);
        border-radius: var(--roundness);
    }

    .nested-container {
        display: flex;
        justify-content: space-around;
    }

    .nested-column {
        flex: 1;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }

    .title{
        font-size: 2.5rem;
    }
    .title-secondary {
        color: var(--accent-gradient);
    }
    .commit{
        font-size: 1.2rem;
    }
    .text {
        font-size: 1.2rem;
        color: var(--color-text);
    }
    .text-secondary {
        color: var(--color-text-secondary);
    }

    .preview {
        width: 100%;
        max-width: 200px;
        border-radius: var(--roundness);
    }

    /* Media Queries for responsiveness */
    @media (max-width: 768px) {
        .container, .nested-container {
            flex-direction: column;
        }

        .column, .nested-column {
            width: 100%;
        }

        .container {
            gap: 10px;
        }

        .nested-container {
            gap: 10px;
        }
    }
</style>
