---
import Layout from "../layouts/Layout.astro";
import Lanyard from "../components/Lanyard.astro";
---

<Layout title="Vorlie | Home">
    <div class="main">
        <div class="text">
            <p class="header-text">
                Hey there! I'm <span class="span-color">Charlie</span>, a self-proclaimed clumsy developer and avid League of Legends enthusiast.
            </p>
            <div class="body-text">
                <p>
                When I'm not wrestling with code, you'll find me diving into the virtual realms of gaming, indulging in the captivating world of anime, or losing myself in the magic of movies and shows.
                </p>
                <p>
                League of Legends holds a special place in my heart as my all-time favorite game, offering endless hours of strategic gameplay and adrenaline-pumping battles.
                </p>
                <p>
                As for anime, Bleach has captured my imagination with its captivating storyline and dynamic characters, making it a timeless favorite.
                </p>
                <p>
                And when it comes to movies, nothing beats the enchanting world of Harry Potter. The magical adventures of Harry, Hermione, and Ron never fail to transport me to a world of wonder and excitement.
                </p>
            </div>
        </div>
        <Lanyard />
        <p class="header-text-sec">Links</p>
        <div class="buttons">
            <a
                style="--accent: rgb(200, 155, 60); --accent-gradient: linear-gradient(45deg, var(--accent), #0397AB 30%, white 60%);"
                href="/r/ugg">League of Legends</a
            >
            <a
                style="--accent: rgb(255, 164, 0); --accent-gradient: linear-gradient(45deg, var(--accent), #1D2C48 30%, white 60%);"
                href="/r/faceit">Faceit</a
            >
            <a
                style="--accent: rgb(255, 0, 0); --accent-gradient: linear-gradient(45deg, var(--accent), #ff8682 30%, white 60%);"
                href="/r/youtube">YouTube</a
            >
            <a
                style="--accent: rgb(75, 159, 255); --accent-gradient: linear-gradient(45deg, var(--accent), #ff769f 30%, white 60%);"
                href="/r/github">GitHub</a
            >
            <a
                style="--accent: rgb(88, 101, 242); --accent-gradient: linear-gradient(45deg, var(--accent), #EB459E 30%, white 60%);"
                href="/discord">Discord</a
            >
        </div>
    </div>
</Layout>
<style>
.main {
    text-align: left;
    justify-content: left;
    max-width: 1000px;
}
.text {
    color: var(--color-text);
    font-size: 25px;
}
.header-text {
    margin: 0;
    font-size: 30px;
    padding-bottom: 5px;
    font-weight: 600;
}
.header-text-sec{
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin: auto;
}
.body-text {
    margin: 0;
}
.buttons {
    margin-top: 15px;
    padding: 1rem;
    max-width: 500px;
    border-radius: 16px;
    background-color: var(--color-main-background-secondary);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.233);
}
.buttons a {
    text-decoration: none;
    border: 10px solid transparent;
    color: var(--color-text);
    border-radius: 16px;
    transition: 0.2s ease;
    &:hover {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
}

.span-color {
    color: var(--accent-gradient);
}
.span-color a {
    color: var(--accent-gradient);
    text-decoration: none;
}
</style>