<astro>
    <div class="main">
        <div class="title">
            <p id="ep-title">Odcinek 1 | Samotny i jeszcze raz Samotny</p>
        </div>
        <div id="videoContainer">
            <iframe id="videoPlayer" src="" allowfullscreen allow="cross-origin"></iframe>
        </div>
        <div class="list">
            <button class="episode-button" value="1lh5LSAvS8o4jORphEqNBINVyNm1BimGZ" data-episode="Odcinek 1 | Samotny i jeszcze raz Samotny">1</button>
            <button class="episode-button" value="1ABf8VLpkL0v0yjSVQ3n5SDEDG_WgdPFX" data-episode="Odcinek 2 | Co to znaczy być połączonym">2</button>
            <button class="episode-button" value="1u2qzDL2DC14KIOnnTO7gBGzjXng2uZ3R" data-episode="Odcinek 3 | Walczące marionetki">3</button>
            <button class="episode-button" value="1_qLl5Vs9MVXjmYim0h60mOox0mjTp-_Q" data-episode="Odcinek 4 | Fru, fru">4</button>
            <button class="episode-button" value="1iExuwPsgodYbOy9TcY9oUOti8agUpfEr" data-episode="Odcinek 5 | Twój cień, Mój znak">5</button>
            <button class="episode-button" value="1nG2xsfQo4JCJTJ9mZHZpiIBewac9pPZa" data-episode="Odcinek 6 | Ukochany we FRANXXie">6</button>
            <button class="episode-button" value="12DS33PAR-QRSSl8tE3WH4hlZrK5B6AFU" data-episode="Odcinek 7 | Moratorium Spadających">7</button>
            <button class="episode-button" value="1laIo-ixfiEZ3RBh1_tRHyh38kVuTNazT" data-episode="Odcinek 8 | Chłopcy x Dziewczyny">8</button>
            <button class="episode-button" value="1hoZUgGjQq_ZwkLl9YNFJSGDaRvwrsM3f" data-episode="Odcinek 9 | Trójkątna Bomba">9</button>
            <button class="episode-button" value="1RXye1mYi8XRP5G5q0ljOb32JrEQOySuO" data-episode="Odcinek 10 | Wieczne Miasto">10</button>
            <button class="episode-button" value="1qxGdKrlEGl1HumVIfxCwNm2N5ueFOVtb" data-episode="Odcinek 11 | Wieczne Miasto">11</button>
            <button class="episode-button" value="1EnmRmEeSLKsvYXfCaz22qv_scZA_U9c4" data-episode="Odcinek 12 | Ogród w którym to wszystko się zaczęło">12</button>
            <button class="episode-button" value="14uLxblh1NbMgPjb0W1Qhr6t5HULuqiXH" data-episode="Odcinek 13 | Potwór i Książe">13</button>
            <button class="episode-button" value="1IEBH0chJSzq-27DvRxXD1tpIHVpC1sfu" data-episode="Odcinek 14 | Spowiedź z Grzechów">14</button>
            <button class="episode-button" value="1XlbKis5SIhcsfT62SaQfk7lX4-VmgCgP" data-episode="Odcinek 15 | Ożenek">15</button>
            <button class="episode-button" value="1BoCv-J6ZWa2Mxdyz8Qg52cC4M3aRyZHi" data-episode="Odcinek 16 | Dni naszego życia">16</button>
            <button class="episode-button" value="1I3BSfCndaecWN5wgVYLqXWrbh-WqTO2J" data-episode="Odcinek 17 | Raj">17</button>
            <button class="episode-button" value="1fxwNG8P1YTlqkAIHM5yEuuAx37WujeSN" data-episode="Odcinek 18 | Gdy zakwitają wiśnie">18</button>
            <button class="episode-button" value="1OPzMXt5MVLLFk-sFYxw0DKiZzngBDn9f" data-episode="Odcinek 19 | Nieludzkość">19</button>
            <button class="episode-button" value="1tYD91JkVj8iGxZIwLWIo5vqJ7cWg37ST" data-episode="Odcinek 20 | Nowy Świat">20</button>
            <button class="episode-button" value="1jjaDUJdCkQ30Ci_T31ShMV7vH77EebiD" data-episode="Odcinek 21 | Dla ciebie, mój ukochany">21</button>
            <button class="episode-button" value="1ay8-PT8KWQHu3OiWlXpwZxNn8EQ5t0XV" data-episode="Odcinek 22 | Obserwatorzy gwiazd">22</button>
            <button class="episode-button" value="1OGwtYv7ESQVu2E-ZEfF6ocs4nKomjzpj" data-episode="Odcinek 23 | Ukochany we FRANXX-ie">23</button>
            <button class="episode-button" value="1r0MsWxkK1hhMJ_MjCvPZiy7UVgWAJ93A" data-episode="Odcinek 24 | Nigdy mnie nie puszczaj">24</button>
        </div>
    </div>
</astro>    
<style>
    #ep-title{
        margin: 3px;
        font-size: 20px;
        font-weight: 600;
    }
    .main{
        max-width: 1200px;
        margin: auto;
        text-align: center;
    }
    .episode-button{
        margin-top: 5px;
        font-size: 15px;
        width: 50px;
        height: 50px;
    }
    .episode-button{
        display: inline-block;
        padding: 15px 15px;
        border: 2px solid var(--color-1);
        background-color: var(--color-main-background);
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(5px);
        color: var(--color-text);
        border-radius: 16px;
        transition: 0.2s ease-in-out;
    }
    .episode-button:hover {
        border: 2px solid var(--border-color);
        background: var(--color-2);
        color: var(--color-text);
        cursor: pointer;
    }
    .selected {
        border: 2px solid var(--color-text-secondary);
        background-color: var(--color-main-background);
        color: var(--color-text);
    }
    #videoPlayer{
        border: transparent;
    }
    #videoContainer {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        display: flex;
        align-items: center;
        border: 2px solid var(--color-1);
        border-radius: 16px;
    }

    /* Then style the iframe to fit in the container div with full height and width */
    #videoPlayer{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

</style>
<script>
const episodeButtons = document.querySelectorAll(".episode-button") as NodeListOf<HTMLButtonElement>;
const videoPlayer = document.getElementById("videoPlayer") as HTMLIFrameElement;

const defaultEpisodeId = "1lh5LSAvS8o4jORphEqNBINVyNm1BimGZ"; // Replace with the ID of the default episode

// Function to set the video URL and update the selected button
const setVideoUrl = (videoId: string) => {
  const videoUrl = `https://drive.google.com/file/d/${videoId}/preview`;
  videoPlayer.src = videoUrl;

  // Remove the 'selected' class from all buttons
  episodeButtons.forEach((btn) => {
    btn.classList.remove("selected");
  });

  // Add the 'selected' class to the button with the corresponding videoId
  const selectedButton = document.querySelector(`button[value="${videoId}"]`);
  if (selectedButton) {
    selectedButton.classList.add("selected");
  }
};

// Set the default episode on page load
setVideoUrl(defaultEpisodeId);

// Add click event listeners to the buttons
episodeButtons.forEach((button) => {
  const videoId = button.value;

  button.addEventListener("click", () => {
    setVideoUrl(videoId);
  });
});

episodeButtons.forEach((button) => {
  button.addEventListener("click", () => {
    const episodeTitle = button.dataset.episode ?? "";
    const epTitleElement = document.getElementById("ep-title");
    if (epTitleElement) {
      epTitleElement.textContent = episodeTitle;
    }
  });
});
</script>