<astro>
<div class="not-firefox-warning">
    <p class="not-firefox-warning">
        This site is designed for <a href="https://firefox.com/">Firefox</a>,
        a web browser that respects your privacy.
    </p>
</div>
</astro>
<style>
    @-moz-document url-prefix() {  .not-firefox-warning { display: none; }}

    div{
        padding: 0.1%;
        margin-bottom: 10px;
        border-radius: 16px;
        border: 2px solid var(--color-1);
        background-color: var(--color-main-background);
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(5px);
    }
    .not-firefox-warning{
        color: var(--color-text);
        text-align: center;
    }
    a{
        color: var(--color-text-secondary);
        text-decoration: none;
        transition: 0.2s ease-in-out;
    }
    a:hover{
        color: rgb(0, 136, 255);
        text-decoration: underline;
    }
</style>