<astro>
    <div class="footer">
        <p>Made with Astro.</p>
    </div>
</astro>

<style>
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: #7c7ccc21;
    }
</style>