<astro>
<div class="bg">
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/search">Search</a></li>
        <li class="nav-item"><a href="/materialdetta">M3 Gen</a></li>
      </ul>
    </nav>        
    <div class="vorlie">
        <iframe
        title="Discord user embed"
        width="340"
        height="72"
        frameborder="0"
        sandbox="allow-scripts"
        src="https://widgets.vendicated.dev/user?id=614807913302851594&theme=dark&banner=false&full-banner=false&rounded-corners=true&discord-icon=false&badges=true&guess-nitro=false&background-color=%23191926&foreground-color=%23e4e4e4"
    ></iframe>
    </div>
</div>
</astro>
  
<style>
    .username{
        color: var(--color-3);
        margin: auto;
		font-weight: 600;
        font-size: 20px;
    }
    .bg{
        overflow: hidden;
    }
    .navbar {
        float: right;
        overflow: hidden;
        border-radius: 0.8rem;
        border: 2px solid var(--color-1);
        background-color: #191926;
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(5px);
        padding: 1rem;
    }
  
    .nav-list {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
  
    .nav-item {
        padding: 0.281rem;
        font-weight: 600;
		font-size: 20px;
    }
  
    .nav-item a {
        text-decoration: none;
        color: #e4e4e4;
        transition: 0.2s ease;
    }
    .nav-item a:hover{
        background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
    }
    .vorlie{
        float: left;
        border-radius: 0.8rem;
        border: 2px solid var(--color-1);
		overflow: hidden;
		display: flex;
	}
    .vorlie iframe{
        overflow: hidden;
    }
    @media (max-width: 569px) {
        .navbar{
            float: left;
            margin-bottom: 8px;
        }
    }
</style>