<astro>
<div class="bg">
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/search">Search</a></li>
        <li class="nav-item"><a href="/materialdetta">M3 Gen</a></li>
      </ul>
    </nav>        
    <div class="vorlie">
        <img src="https://cdn.discordapp.com/avatars/614807913302851594/0c3eb4ab7328a70a3c1cabe7af1e316d.webp" width="40">
        <p class="displayname">LotusLoL</p>
        <p class="username">@vorlie</p>
    </div>
</div>
</astro>
  
<style>
    .username{
        color: #5c5ca09f;
        margin: auto;
		font-weight: 600;
        font-size: 20px;
    }
    .bg{
        overflow: hidden;
    }
    .navbar {
        float: right;
        overflow: hidden;
        border-radius: 16px;
        border: 2px solid var(--color-1);
        background-color: var(--color-main-background);
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(5px);
        padding: 1rem;
    }
  
    .nav-list {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
  
    .nav-item {
        padding: 0.5rem;
        font-weight: 600;
		font-size: 20px;
    }
  
    .nav-item a {
        text-decoration: none;
        color: #e4e4e4;
        transition: 0.2s ease;
    }
    .nav-item a:hover{
        background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
    }
    .vorlie{
        float: left;
        padding: 1rem;
        border-radius: 16px;
        border: 2px solid var(--color-1);
        background-color: var(--color-main-background);
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(5px);
		overflow: hidden;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
	}
    .vorlie img{
		border-radius: 50%;
		float: left;
		margin-right: 15px;
	}
	.vorlie .displayname{
        padding: 0.5rem;
        margin: auto;
		font-weight: 600;
        background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
        float: left;
		font-size: 20px;
	}
    @media (max-width: 569px) {
        .navbar{
            float: left;
            margin-bottom: 8px;
        }
    }
</style>