<astro>
    <div class="main">
        <div id="clock"></div>
        <div class="search">
            <form id="search-form" method="GET">
                <label for="search-input"></label>
                <input type="text" id="search-input" name="q" placeholder="Search on Google or enter address" autofocus class="hidden-input">
            </form>
        </div>
    </div>
    <div class="quick-links">
        <button class="button-outher-left" onclick="window.location.href='https://youtube.com/';"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi-bi-youtube" viewBox="0 0 16 16">
            <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
        </svg></button>
        <button class="button-inner" onclick="window.location.href='https://twitch.tv';"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
            <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
            <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
        </svg></button>
        <button class="button-inner" onclick="window.location.href='https://discord.com/channels/@me';"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi-bi-discord" viewBox="0 0 16 16">
            <path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"></path>
        </svg></button>
        <button class="button-inner" onclick="window.location.href='https://www.reddit.com/';"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-reddit" viewBox="0 0 16 16">
            <path d="M6.167 8a.831.831 0 0 0-.83.83c0 .459.372.84.83.831a.831.831 0 0 0 0-1.661zm1.843 3.647c.315 0 1.403-.038 1.976-.611a.232.232 0 0 0 0-.306.213.213 0 0 0-.306 0c-.353.363-1.126.487-1.67.487-.545 0-1.308-.124-1.671-.487a.213.213 0 0 0-.306 0 .213.213 0 0 0 0 .306c.564.563 1.652.61 1.977.61zm.992-2.807c0 .458.373.83.831.83.458 0 .83-.381.83-.83a.831.831 0 0 0-1.66 0z"/>
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.828-1.165c-.315 0-.602.124-.812.325-.801-.573-1.9-.945-3.121-.993l.534-2.501 1.738.372a.83.83 0 1 0 .83-.869.83.83 0 0 0-.744.468l-1.938-.41a.203.203 0 0 0-.153.028.186.186 0 0 0-.086.134l-.592 2.788c-1.24.038-2.358.41-3.17.992-.21-.2-.496-.324-.81-.324a1.163 1.163 0 0 0-.478 2.224c-.02.115-.029.23-.029.353 0 1.795 2.091 3.256 4.669 3.256 2.577 0 4.668-1.451 4.668-3.256 0-.114-.01-.238-.029-.353.401-.181.688-.592.688-1.069 0-.65-.525-1.165-1.165-1.165z"/>
        </svg></button>
        <button class="button-outher-right" onclick="window.location.href='https://store.steampowered.com/';"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-steam" viewBox="0 0 16 16">
            <path d="M.329 10.333A8.01 8.01 0 0 0 7.99 16C12.414 16 16 12.418 16 8s-3.586-8-8.009-8A8.006 8.006 0 0 0 0 7.468l.003.006 4.304 1.769A2.198 2.198 0 0 1 5.62 8.88l1.96-2.844-.001-.04a3.046 3.046 0 0 1 3.042-3.043 3.046 3.046 0 0 1 3.042 3.043 3.047 3.047 0 0 1-3.111 3.044l-2.804 2a2.223 2.223 0 0 1-3.075 2.11 2.217 2.217 0 0 1-1.312-1.568L.33 10.333Z"/>
            <path d="M4.868 12.683a1.715 1.715 0 0 0 1.318-3.165 1.705 1.705 0 0 0-1.263-.02l1.023.424a1.261 1.261 0 1 1-.97 2.33l-.99-.41a1.7 1.7 0 0 0 .882.84Zm3.726-6.687a2.03 2.03 0 0 0 2.027 2.029 2.03 2.03 0 0 0 2.027-2.029 2.03 2.03 0 0 0-2.027-2.027 2.03 2.03 0 0 0-2.027 2.027Zm2.03-1.527a1.524 1.524 0 1 1-.002 3.048 1.524 1.524 0 0 1 .002-3.048Z"/>
        </svg></button>
    </div>
    
</astro>
<script>
    (document.getElementById("search-form") as HTMLFormElement).addEventListener("submit", function(event) {
        event.preventDefault(); 

        const searchQuery = (document.getElementById("search-input") as HTMLInputElement).value;
        const redirectURL = `https://www.google.com/search?q=${encodeURIComponent(searchQuery)}`;

        window.location.href = redirectURL;

        (document.getElementById("search-input") as HTMLInputElement).value = "";
    });

    const urlParams = new URLSearchParams(window.location.search);
    const queryParam = urlParams.get('q');

    if (queryParam) {
        const redirectURL = `https://www.google.com/search?q=${encodeURIComponent(queryParam)}`;
        window.location.href = redirectURL;
    }

    function updateClock() {
        const now = new Date();
        const clock = document.getElementById('clock');
        if (clock) {
            clock.textContent = now.toLocaleTimeString();
        }
    }

    setInterval(updateClock, 1000);
</script>
<style>
#clock {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    background-image: linear-gradient(to right, #b86cff,#806cff,#806cff,#ff6cad,#ff6cad,#6cefff,#6cefff, #b86cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    animation: colorCycle 10s linear infinite;
    transition: background-image 0.5s ease-in-out;
}

@keyframes colorCycle {
    0% {
        background-position: 0%;
    }
    25% {
        background-position: 100%;
    }
    50% {
        background-position: 200%;
    }
    75% {
        background-position: 300%;
    }
    100% {
        background-position: 400%;
    }
}

.main{    
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 12px;
    color: var(--color-text);
    max-width: 700px;
    margin: 170px auto 0px;
    text-align: center;
}

.search {
    width: 60%;
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 500;
    border: 2px solid var(--color-1);
    background-color: var(--color-main-background);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(5px);
    color: var(--color-search);
    position: relative;
    overflow: hidden;
  }
#search-form{
    float:left; 
}
.search input{
    font-family: 'Arial', sans-serif;
    color: var(--color-text);
    border: 1px solid transparent;
    background-color: transparent;
    width: 300px;
    padding: 5px;
    font-size: 16px;
    
}
.search input:focus{
    border: 1px solid transparent;
    outline: none;
}

.quick-links{
    margin: auto;
    max-width: 700px;
    text-align: center;
}
.button-outher-left{
    display: inline-block;
    padding: 15px 15px;
    border: 2px solid var(--color-1);
    background-color: var(--color-main-background);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(5px);
    color: var(--color-text);
    border-radius: 16px 0px 0px 16px;
    transition: 0.2s ease-in-out;
}
.button-outher-left:hover {
    border: 2px solid var(--border-color);
    background: var(--color-2);
    color: var(--color-text);
    cursor: pointer;
    transform: translateY(-5px);
}
.button-outher-right{
    display: inline-block;
    padding: 15px 15px;
    border: 2px solid var(--color-1);
    background-color: var(--color-main-background);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(5px);
    color: var(--color-text);
    border-radius: 0px 16px 16px 0px;
    transition: 0.2s ease-in-out;
}
.button-outher-right:hover {
    border: 2px solid var(--border-color);
    background: var(--color-2);
    color: var(--color-text);
    cursor: pointer;
    transform: translateY(-5px);
}
.button-inner{
    display: inline-block;
    padding: 15px 15px;
    border: 2px solid var(--color-1);
    background-color: var(--color-main-background);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(5px);
    color: var(--color-text);
    transition: 0.2s ease-in-out;
}
.button-inner:hover {
    border: 2px solid var(--border-color);
    background: var(--color-2);
    color: var(--color-text);
    cursor: pointer;
    transform: translateY(-5px);
}

#search-engine-dropdown {
    position: relative;
    display: inline-block;
    margin: 6px auto;
}
  
#search-engine-select{
    padding-right: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--color-2);
    color: var(--color-text);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    border: 2px solid var(--color-2);
    cursor: pointer;
    border-radius: 15px;
}
  
#search-engine-dropdown::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    width: 16px;
    height: 16px;
    background-image: url("/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: transform 0.3s ease;
  }

#search-engine-dropdown.open::after{
    transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 560px) {
    .search{
        width: 70%;
    }
}
</style>
