<div class="sidebar">
  <a class="lanyard" href="https://discord.com/users/614807913302851594">
    <div class="vorlie">
      <img src="">
      <div class="userinfo">
      </div>
    </div>
  </a>
  <nav>
    <a href="/">Home</a>
    <a href="/fonts">Fonts</a>
    <a href="/projects">Projects</a>
    <a href="/discord-timestamps">Timestamps</a>
    <a href="/credits">Credits</a>
  </nav>
</div>
<script src="../scripts/lanyardSidebar.ts"></script>
<style>
.vorlie{
  padding: 5px;
  border-radius: var(--roundness);
  background-color: var(--color-main-background);
  max-width: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s ease-in-out;
  &:hover{
    background: linear-gradient(to left, var(--color-main-background-secondary),  var(--color-1));
  }
}
.vorlie img{
	border-radius: 50%;
	margin-left: 5px; 
	margin-right: 10px;
  width: 50px;
  height: 50px;
  border: 3px solid var(--status-color-offline);
}

.lanyard{
  text-decoration: none;
  color: inherit;
  &:hover{
    color: none;
    animation: colorChange 0.5s ease-in-out infinite;
  }
}
@keyframes colorChange {
  0% {color: #4e43b5;}
  100% {color: #ce47f0;}
}
.userinfo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 5px;
}

.user-info {
  display: flex; 
  flex-direction: column;
}

.user-info p {
  text-align: left;
  font-size: 18px;
  margin: 5px 0;
}

.sidebar {
  padding: 10px;
}
nav a {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s ease;
  padding: 4px;
  text-align: center;
  border-radius: var(--roundness-2);
  background: var(--color-main-background-secondary);
  &:hover {
    color: var(--color-text-hover);
    background: var(--color-1);
  }
}


</style>
