---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="vorlie">
        <meta property="og:type" content="website">
        <meta property="og:description" content="A place to my social media and stuff, you know">
        <meta property="og:image" content="/images/icon.png">
        <meta property="og:url" content="">
        <meta name="description" content="A place to my social media and stuff, you know">
		<link rel="icon" type="image/svg+xml" href="/images/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="theme-color" content="#896db9">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent-gradient: #7a76ff;
		--color-background:#1E1443;
		--color-main: #838383;
		--color-main-background: #3d278b;
		--color-main-background-secondary: #3d278b56;
		--rn-background-color: #ffffff21;
		--rn-background-color-2: #ffffff3f;
		--color-1: #4830a1;
		--color-2: #C1BFFA;
		--color-3: #3b3b5e9f;
		--color-text-secondary: #c1bffa9c;
		--color-text:#C1BFFA;
		--color-text-dark:#3d278b;
		--color-text-hover:#FFFFFF;
		--border-color: #3d278b7d;
  		--roundness: 16px;
	}
	html {
		scroll-behavior: smooth;
		color: var(--color-text);
		font-family: system-ui, sans-serif;
		background-color: var(--color-background);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
