---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="vorlie">
        <meta property="og:type" content="website">
        <meta property="og:description" content="*Temporary* page for ushie's material you theme generator">
        <meta property="og:image" content="/icon.png">
        <meta property="og:url" content="https://vorlie.pl">
        <meta name="description" content="*Temporary* page for ushie's material you theme generator">
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<meta name="theme-color" content="#896db9">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent-gradient: linear-gradient(45deg, #88c0d0, #5e81ac 30%, white 60%);
		--color-background:#4c566a;
		--bg: #2e3440;
		--color-main: #838383;
		--color-main-background: #3b4252;
		--color-main-background-secondary: #ffffff1c;
		--rn-background-color: #ffffff2f;
		--rn-background-color-2: #ffffff5e;
		--rn-background-color-3: #00000054;
		--color-1: #4c566a;
		--color-2: #d8dee9;
		--color-3: #3b3b5e9f;
		--border-dash-color: #b9b9b9;
		--color-text-secondary: #00C9B1;
		--color-text:#eceff4;
		--color-text-dark:#3b4252;
		--color-text-hover:#FFFFFF;
		--border-color: #a1a1a17d;
		--roundness: 16px;
	}
	html {
		scroll-behavior: smooth;
		color: var(--color-text);
		font-family: system-ui, sans-serif;
		background-color: var(--bg);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
